.wrapper{
	border: 1px solid #f6f3f3;
	height: 100%;
	width: 100%;

}
.hmenu{
    margin: 0px;
    padding: 0px 16px;
    border-radius: 5px;
    box-shadow: 0 0 5px #3D5DAB;
    list-style: none;
    background-color: #3D5DAB;
    height: 40px;
	width:100%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sub-menu{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px #3D5DAB;
    list-style: none;
    width: 150px;
    position: absolute;
    display: none;
    
}
.sub-menu>li>a {
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted #3D5DAB;
    text-decoration: none;
    font-variant: small-caps;
    color: rgb(60, 60, 166);
    padding-left: 25px;
    background: url('b1.gif') no-repeat left center;
}
.sub-menu>li>a:hover {
    background: url('b2.gif') no-repeat left center;
    font-weight: bolder;
    color: red;
}

ul.hmenu>li>a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size:20px; 
    padding-left: 25px;
    color: white;
    
}
ul.hmenu>li>a:hover {
    color: rgb(60, 60, 166);
    font-weight: bolder;
}
ul.hmenu>li{
    float: left;
    margin: 0 5px;
    position: relative;
}
ul.hmenu>li:hover>.sub-menu{
    display: block;
}
.search-container {
    float: right;
    margin: 0 10px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    width: 150px; 
}

.page-title{
     text-align: center;
     color:#ff9c24;
}
.boxfooter {
    background-color: rgb(60, 60, 166) ;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .link p {
    margin: 0;
  }
  
  #fb, #zl {
    height: 30px;
    width: 30px;
  }
  

.mota{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.brg{
	background-image: url(../img/product/trangxuathoadon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color:#333;
	text-align: center;
	flex: 1;
	width: 100%;
}
.total-price {
    font-size: 1.5em;
    color: green;
}

.contain {
    display: flex;
    /* height: 100vh; Chiều cao 100% của viewport */
    margin-top: 50px;
}

#column1 {
    flex: 1.5;
    /* Cột 1 chiếm một phần */
    padding: 20px;
    /* Khoảng cách giữa các cột */
    box-sizing: border-box;
    /* Bao gồm padding trong kích thước tổng cộng của phần tử */
}

#column2 {
    flex: 1;
    /* Cột 2 chiếm hai phần */
    padding: 20px;
    /* Khoảng cách giữa các cột */
    box-sizing: border-box;
    /* Bao gồm padding trong kích thước tổng cộng của phần tử */
}
.toggle-container {
    position: relative;
    
}

.toggle-button {
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    /* font-weight: bold; */
}

.hidden-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    margin-left: 40px;
}

.visible {
    max-height: 1000px;
    /* Giá trị tùy chọn, đủ lớn để hiển thị nội dung */
    transition: max-height 0.5s ease-in;
}
#column2 .form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 40px; /* Khoảng cách giữa cột và form */
    box-sizing: border-box; /* Bao gồm padding trong kích thước tổng cộng của phần tử */
}

#column2 .form-container label {
    display: block;
    margin-bottom: 8px;
}

#column2 .form-container input,
#column2 .form-container textarea {
    width: calc(100% - 20px); /* Tránh đụng lề ngoài của form */
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#column2 .form-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đường viền đổ bóng */
}

#column2 .form-container button:hover {
    background-color: whitesmoke;
}
