<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/footer.css">
</head>
<body>
    <div class="footer">
        <div class="footer-info">
            <img src="../IMAGE/logo.png"><br>
            MindWell <br>
            Số 123 Bắc Từ Liêm, Hà Nội<br>
            0123456789 <br>
            MindWell@gmail.com <br>
            <a href="https://www.facebook.com/profile.php?id=61555678442684"><img src="../IMAGE/facebook-icon.png"></a>
        </div>
        <div class="footer-about">
            <h2>About Us</h2>
            MindWell là nơi cung cấp thông tin <br>
            và hỗ trợ về sức khỏe tâm thần, <br>
            chúng tôi cam kết đồng hành cùng bạn <br>
            trên hành trình khám phá <br>
            và phục hồi tinh thần sức khỏe  
        </div>
        <div class="footer-menu">
            <h2>Menu</h2>
            Trang chủ <br>
            Tổng quan <br>
            Giải pháp <br>
            Tin tức mới nhất <br>
            MindWell rất vui khi hỗ trợ Bạn !
        </div>
    </div>
</body>
</html>