<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/menu.css">
</head>
<body>
    <div id="header">
        <a href="" class="logo">
            <img src="../IMAGE/logo.png" alt="">
        </a>
        <nav id="menu">
            <a href="trangchu.html" class="menu-item">Trang chủ</a>
            <a href="#" class="menu-item">Tổng quan</a>
            <a href="lienhe.php" class="menu-item">Liên hệ</a>
            <a href="#" class="menu-item">Giải pháp</a>
        </nav>
        <div id="action">
            <div class="item">
                <a href="../ADMIN/login.php">
                    <img src="../IMAGE/logosignup.png" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>