<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/trangchu.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="" class="logo">
                <img src="../IMAGE/logo.png" alt="">
            </a>
            <nav id="menu">
                <a href="trangchu.html" class="menu-item">Trang chủ</a>
                <a href="#" class="menu-item">Tổng quan</a>
                <a href="lienhe.php" class="menu-item">Liên hệ</a>
                <a href="#" class="menu-item">Giải pháp</a>
            </nav>
            <div id="action">
                <div class="item">
                    <a href="../ADMIN/login.php">
                        <img src="../IMAGE/logosignup.png" alt=""></a>
                </div>
            </div>
        </div>
        <div id="banner">
            <div class="box-left">
                <h2>
                    <span>HỖ TRỢ</span>
                    <br>
                    <span>TÂM LÝ TOÀN DIỆN</span>
                    <p>Đối diện với những thách thức về tâm lý, chúng tôi không chỉ đơn thuần là người đưa ra chuẩn đoán, mà còn là đồng hành của bạn trên hành trình khám phá và phục hồi.</p>
                    <a href="../ADMIN/login.php"><button>Tham gia ngay</button></a>
                </h2>
            </div>
            <div class="box-right">
                <img src="../IMAGE/testbr3.png" alt="">
                <img src="../IMAGE/testbr1.png" alt="">
                <img src="../IMAGE/testbr2.png" alt="">
            </div>
            <div class="to-bottom">
                <a href="">
                    <img src="../IMAGE/luotxuong.png" alt="">
                </a>
            </div>
        </div>
            <div><h2 style="text-align: justify;">Bài test đánh giá mức độ trầm cảm BECK&nbsp;</h2>
            <p style="text-align: justify;">Bài test mức độ trầm cảm BECK là một trong những phương pháp nhằm đánh giá về cảm xúc và mức độ trầm cảm tương đối phổ biến, được sử dụng trong các bệnh viện, phòng khám chuyên sâu về sức khoẻ tinh thần hiện nay.</p>
            <p style="text-align: justify;"><strong>Bài test nhằm mục đính:</strong></p>
            <ul style="text-align: justify;">
            <li>Tự đánh giá tình trạng Sức khoẻ tinh thần cá nhân.</li>
            <li>Dự đoán về Sức khoẻ tinh thần và có kế hoạch thăm khám phù hợp.</li>
            <li>Tổng hợp thông tin để thuận tiện khi thăm khám với Bác sĩ/Chuyên gia</li>
            </ul>
            <p style="text-align: justify;"><strong>Lưu ý:</strong></p>
            <p style="text-align: justify;">Kết quả bài test này chỉ mang tính chất tham khảo, không có giá trị thay thế chẩn đoán y khoa bởi bác sĩ/chuyên gia có chuyên môn.</p>
            <p style="text-align: justify;"><strong>Nguyên tắc thực hiện bài test:</strong></p>
            <p style="text-align: justify;">Bài test bao gồm 21 đề mục, hãy đọc cẩn thận tất cả các câu và chọn ra một đáp án gần giống nhất với <strong>tình trạng mà bạn cảm thấy trong 1 tuần trở lại đây</strong>, kể cả hôm nay.</p>
            <p style="text-align: justify;"><strong>Nguồn tham khảo:</strong></p>
            <p style="text-align: justify;"><a href="http://nimh.gov.vn/thang-danh-gia-tram-cam-beck-bdi/">Viện Sức khỏe Tâm thần, Bệnh viện Bạch Mai</a></p></div>
            <p style="background-color: aqua; color:darkslategray"><center><a href="../views/testform.php">Bắt đầu làm bài test</a></center>
             </p>
    </div>
</body>
</html>